:root {
    --body-background: #eff2f6;
    --white: #fff;
    --error: #dc2626;
    --orange:#F59E0B;
    --primary-text:#63719C;
  }
body{
    font-size: .9rem;
}
.shadow-cs {
    box-shadow: 0 .1rem .1rem rgba(0,0,0,.04)!important;
}
.form-control:focus {
    border:1px solid var(--orange)!important;
}
.error-msg{
    color: var(--error);
    text-align: left!important;
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
}
.error-msg-tc{
    color: var(--error);
    font-size: 13px;
    font-weight: 500;
    margin-top: 2px;
}
.form-wrapper-login{
    /* margin-top: 10%; */
    padding: 0 20%;
}
.shadow-header{
    box-shadow: 0 .2rem .4rem rgba(0,0,0,.04)!important;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 16px;
}


  
  body.inner{
    background-color: var(--body-background)!important;
  }
.nav-tabs.page-nav{
    background: var(--white);
    padding: 0 46px;
}
.tab-page{
    padding: 30px 46px 0;
}
.nav-tabs.page-nav .nav-item.show .nav-link {
    background-color:var(--body-background);
   
}
.nav-tabs .nav-link.active {
    background-color:var(--body-background);
    border-bottom-color:var(--body-background);
}
.nav-tabs.page-nav .nav-link:focus{
    border-color: #dee2e6;
    border-bottom-color: var(--body-background);
}
.nav-tabs .nav-link {
    border-color: var(--body-background);
    border-bottom-color: #dee2e6;
    padding: 8px 35px;
    display: flex;
    align-items: center;
    color: var(--primary-text);
    background: #fdfdfd;
    font-weight: 600;
}
.nav-tabs.page-nav .nav-item{
    margin-right: 5px;
}

.nav-tabs .nav-link i{
    margin-right: 10px;
    font-size: 20px;
}
.nav-tabs .nav-link.active i{
    color: var(--orange);
}
.add-on .input-group-btn > .btn {
    border-left-width:0;left:-2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  /* stop the glowing blue shadow */
  .add-on .form-control:focus {
   box-shadow:none;
   -webkit-box-shadow:none; 
   border-color:#cccccc; 
  }
  
  /* enable absolute positioning */
  .inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon i {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon i  { left:  0px;}
  .right-addon i { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  .search_md{
    width: 80%;
  }
