@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
:root {
  --body-background: #eff2f6;
  --white: #fff;
  --error: #dc2626;
  --orange:#F59E0B;
  --primary-text:#1e4454;
  --secondary-text:#9ca8ba;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif !important;
  background-color: var(--body-background) !important;
}
.fo-flx-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fo-flx-top {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.fo-flx-bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.fo-flx-js-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fo-flx-sb-bl {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fo-flx-js-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-right {
  text-align: right;
}

.right p, h1 {
  margin-bottom: 0;
}

.left p, h1 {
  margin-bottom: 0;
}

.fo-flx {
  display: flex;
  align-items: center;
}

.card {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(89, 89, 89, 0.16) 0px 1px 4px;
}

.card-pd {
  padding: 16px;
}

.mr0-5 {
  margin-right: 5px;
}

.mr1 {
  margin-right: 10px;
}

.mr2 {
  margin-right: 20px;
}

.mr3 {
  margin-right: 30px;
}

.ml1 {
  margin-left: 10px;
}

.ml2 {
  margin-left: 20px;
}

.ml3 {
  margin-left: 30px;
}
.mr5{
    margin-right: 50px;
}

h6.st-wi {
  width: 110px;
  white-space: nowrap;
}

h6 {
  font-weight: 700 !important;
  color: #505050;
  font-size: 14px !important;
}

h6.dark {
  font-weight: 600 !important;
  color: #525252;
  font-size: 15px !important;
}

.big-total {
  color: #63719C;
}

.brand-wrapper.fo-flx-bottom .right {
  text-align: right;
}

.divider {
  border-bottom: 1px solid #ECECEC;
  padding-top: 30px;
  height: 1px;
}

.address-wrapper.fo-flx-top .left, .right {
  width: 50%;
}

.address-wrapper.fo-flx-top h6 {
  line-height: 25px;
  font-size: 14px;
}

.address-wrapper.fo-flx-top p {
  color: #C9C9C9;
  font-size: 14px;
  margin-bottom: 10px;
}

thead tr {
  background: #E4E4E4;
}

thead tr th {
  font-size: 14px;
  font-weight: 400;
  padding: 20px !important;
}

tbody tr td {
  font-size: 14px;
  font-weight: 400;
  padding: 20px !important;
}

.table-footer.fo-flx-top.mt-5 td {
  padding: 10px !important;
  padding-left: 0 !important;
  color: #fff;
}

.table-footer.fo-flx-top.mt-5 .right {
  width: 35%;
}

.table-footer.fo-flx-top.mt-5 .bg-tb-bottom {
  background: #97CDCD;
  padding: 20px;
  border-radius: 10px;
}

.table-footer.fo-flx-top.mt-5 .table {
  margin-bottom: 0 !important;
}

.table-footer.fo-flx-top.mt-5 h6 {
  line-height: 25px;
}

h5 {
  color: #565656 !important;
  font-size: 16px !important;
}

.remove-bo {
  border: none !important;
}

.alert p {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}

.alert {
  margin-bottom: 0;
}

/* button {
    border-radius: 5px !important;
    border: none !important;
    padding: 8px 25px !important;
} */
.btn.btn-secondary {
  background: #698473;
}

.btn.btn-secondary-light {
  background: #98B694;
  color: #fff;
}

/* Login pages css starts here */
.image-wrapper {
  background-image: linear-gradient(#F9F9F9, #FFFFFF);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  width: 70%;
}

.fo-start {
  overflow-x: hidden;
}

.no-padd {
  padding: 0 !important;
}

.form-wrapper {
  width: 100%;
}

.col-lg-5.col-md-12.col-sm-12.no-padd {
  background: #fff;
}

.form-wrapper-main.fo-flx-js-center {
  height: 100%;
}

input {
  border: 1.5px solid #cbd5e1 !important;
  font-size: 14px !important;
  border-radius: 5px;
}

.form-wrapper.text-center h6 {
  width: 85%;
  margin: auto;
}

.primary {
  color: #F15A29;
}

button.btn.btn-primary {
  background: #F15A29;
  font-size: 14px;
  font-weight: 800;
  border: 0;
}

a.btn.btn-primary {
  background: #F15A29;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  border: none;
}

button.btn.btn-primary:hover {
  background: #e75929;
}

a.btn.btn-primary:hover {
  background: #e75929 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

::-moz-placeholder {
  font-size: 14px !important;
  color: #ABABAB !important;
}

:-ms-input-placeholder {
  font-size: 14px !important;
  color: #ABABAB !important;
}

::placeholder {
  font-size: 14px !important;
  color: #ABABAB !important;
}

.form-wrapper.text-center h5 {
  font-size: 22px !important;
  margin-top: 40px;
  font-weight: 700;
}

.form-wrapper a {
  font-size: 14px;
  color: #f59e0b;
  font-weight: 800;
  text-decoration: none;
}

.error-msg h6 {
  color: #FF0000;
  margin-top: 30px !important;
  font-weight: 500 !important;
}

.success-msg h6 {
  color: #08B269;
  margin-top: 30px !important;
  font-weight: 500 !important;
}

.form-wrapper.logo_log img {
  width: 75%;
  margin-bottom: 20px;
}

.main-wrapper.fo-start .form-group.mb-3.mt-3.fo-flx input {
  width: 17% !important;
  margin-right: 10px;
  text-align: center;
}

.main-wrapper.fo-start .form-group.mb-3.mt-3.fo-flx input:last-child {
  margin-right: 0px;
}

.main-wrapper.fo-start .form-group.mb-3.mt-3.fo-flx {
  justify-content: center;
}

.copyright {
  /* position: relative; */
  /* display: flex;
  justify-content: center;  */
  bottom: 0;
}

.copyright h6 {
  position: relative;
  /* bottom: 30px; */
  margin: 50px 0 0 0;
  display: block;
  text-align: center;
  left: 0;
  right: 0;
}

img.min-icon {
  width: 16px !important;
}

.po-inp {
  position: relative;
}

.po-inp img.min-icon {
  position: absolute;
  right: 20px;
  top: 16px;
}

/* Login pages css ends here */
/* Navbar css starts here */

a.navbar-brand img {
  width: 150px;
}

/* Login pages css ends here */
/* Navbar css starts here */
.navbar {
  border: none !important;
  margin-bottom: 0 !important;
}

.container-fluid {
  padding-left: 56px;
  padding-right: 56px;
}

.bg-white {
  background-color: #fff;
}

ul.nav.navbar-nav.navbar-right li a {
  padding: 0;
  margin: 10px;
}

.prof.fo-flx h6 {
  margin: 0;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px !important;
  color: #4A4A4A !important;
  font-weight: 700 !important;
  margin-top: 1px;
}

.nav-right-content.fo-flx {
  margin: 8px;
  margin-right: 0;
}

.img-wr img {
  height: 100%;
}

.dd {
  margin-left: 15px;
}

ul.nav.navbar-nav a {
  font-size: 14px !important;
  color: #4A4A4A;
  font-weight: 700;
}

.navbar-brand {
  padding: 0;
  margin-top: 8px;
}

.nav > li > a:focus, .nav > li > a:hover {
  border-bottom: 3px solid #F15A29;
  color: #F15A29;
  background: none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  border-color: unset !important;
}

div#myNavbar {
  float: right;
}

ul.nav.navbar-nav.navbar-right {
  float: left !important;
  margin-right: 0;
}

ul.nav.navbar-nav {
  float: left !important;
  margin-top: 4px;
  margin-right: 30px;
}

.navbar-collapse {
  padding-right: 0 !important;
}

.bo-bottom {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.dd li.dropdown a.dropdown-toggle {
  font-size: 12px !important;
  font-weight: 500;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0 !important;
}

/* Navbar css ends here */
.remove-margin {
  margin-top: 0 !important;
ul.navbar-nav{
    height: 50px;
}
a.navbar-brand{
    margin: 0;
}
.dropdown-toggle::after{
    content: none !important;
}
.img-wr {
    margin-right: 15px;
}

div#collapsibleNavbar {
    justify-content: right;
}
a.nav-link {
    font-size: 15px;
    font-weight: 600;
    margin-right: 20px;
    color: #505050;
    padding: 15px;
    padding-bottom: 8px;
}
ul.nav.navbar-nav.navbar-right a.nav-link.dropdown-toggle {
    margin-right: 0;
    padding: 0;
    margin-left: 15px;
}
.nav-right-content p {
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 7px;
}
a.nav-link:hover {
    border-bottom: 5px solid #e75929;
    color: #e75929;
}
ul.nav.navbar-nav.navbar-right a.nav-link.dropdown-toggle:hover{
    border: none;
}
ul.dropdown-menu.show {
    border-radius: 0;
    border: none;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 5px 20px;
}
ul.nav.navbar-nav.navbar-right ul.dropdown-menu.show {
    left: -110px !important;
}
ul.dropdown-menu.show li {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #505050;
}
ul.dropdown-menu.show li:last-child {
    border-bottom: none;
}

.remove-margin{
    margin: 0 !important;
}
.remove-padding{
    padding: 0 !important;
}

.db-top-wrapper {
  padding: 25px 0 10px;
}

.db-top-wrapper .left .profile-sec img {
  width: 70px;
  margin-right: 20px;
}

.db-top-wrapper .left .content h3 {
  font-size: 20px !important;
  font-weight: 700;
  color: #4A4A4A;
  margin: 0;
  margin-top: 10px;
}

.db-top-wrapper .left .content h6 span img.min-icon {
  margin-right: 5px;
  margin-bottom: 4px;
}

.in-page {
  height: 36px !important;
  display: flex;
  padding: 0 15px !important;
  align-items: center;
}

.date-picker form input {
  height: 36px;
  padding: 0 10px;
  margin-right: 10px;
}

.db-top-wrapper .right {
  display: flex;
  justify-content: right;
}

li.dropdown.open ul.dropdown-menu li a {
  font-weight: 400;
  border-bottom: 1px solid #ddd;
}

ul.dropdown-menu {
  padding: 0 12px;
}

.dropdown-menu > li > a {
  padding: 10px 0;
}

/* Breadcrumb css starts */
.breadcrumb {
  background: none;
  margin-bottom: 0;
}

ul.breadcrumb {
  padding: 3px 0px 15px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  color: #ABABAB;
  margin-right: 5px;
}

ul.breadcrumb li + li:before {
  padding: 2px;
  color: #ABABAB;
  content: "/";
  margin-right: 5px;
}

ul.breadcrumb li a {
  color: var(--primary-text);
  text-decoration: none;
}

ul.breadcrumb li:first-child a {
  padding-left: 0px;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.db-top-wrapper h4 {
  font-size: 20px;
  color: #707070;
  margin-bottom: 0;
}

/* Breadcrumb css ends */
/* Dashboard css starts here */
.icon-wrap {
  padding: 13px;
  border-radius: 50px;
  width: 52px;
  text-align: center;
  margin-right: 10px;
  height: 52px;
  display: flex;
  align-items: center;
}

.db-content-top .card .content h3 {
  color: #606161;
  margin: 0;
  font-size: 28px;
  margin-bottom: 8px;
}

.db-content-top .card .content h6 {
  margin: 0;
}

.db-content-top {
  margin: 25px 0px;
}

.orange {
  background: #FC8B2A;
}

.merun {
  background: #BC7D85;
}

.fadeblue {
  background: #63719C;
}

.solidblue {
  background: #429EBD;
}

.greenishblue {
  background: #01D8DD;
}

.db-content-top .card {
  width: 18.5%;
}

.t1 p {
  font-size: 26px;
  margin: 0;
  color: #fff;
}

.t1 h6 {
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.t2 h1 {
  font-size: 45px;
  color: #fff;
}

.t2 h6 {
  font-size: 23px !important;
  color: #A9DE6C;
  margin: 0;
}

.progressbar-wrapper .card {
  width: 46.5%;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
  color: #606161;
}

.progress {
  height: 6px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: #DFDFDF;
}

.progressbar-wrapper h6 {
  margin-bottom: 15px;
}

.progressbar-wrapper p {
  font-size: 12px;
  color: #929292;
  margin-bottom: 0;
}

.card-heading h4 {
  font-size: 18px;
}

.text-green {
  font-size: 14px;
  color: #58CE15;
  font-weight: 700;
  margin-bottom: 0;
}

.text-orange {
  font-size: 14px;
  color: #FAAB68;
  font-weight: 700;
  margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}
.text-green{
    font-size: 14px;
    color: #58CE15;
    font-weight: 700;
    margin-bottom: 0;
}
.text-orange{
    font-size: 14px;
    color: #FAAB68;
    font-weight: 700;
    margin-bottom: 0;
}
.fo-mtop{
    margin-top: 25px;
}
a.faded-button{
    background-color: #E2E2E2;
    text-decoration: none;
    color: #727272;
    padding: 5px 15px;
    font-size: 10px;
    margin-left: 10px;
    border-radius: 3px;
}

.fo-mtop {
  margin-top: 25px;
}

a.faded-button {
  background-color: #E2E2E2;
  text-decoration: none;
  color: #727272;
  padding: 5px 15px;
  font-size: 10px;
  margin-left: 10px;
  border-radius: 3px;
}

.card.card-pd.fo-mtop h6 {
  margin: 0;
}

.chart-details .left {
  width: 100%;
}

.chart-details h4 {
  font-size: 18px;
  color: #929292;
  font-weight: 600;
}

.wr-right h1 {
  margin: 0;
  margin-right: 10px;
  color: #929292;
  font-weight: 100;
}

/* Dashboard css ends here *//*# sourceMappingURL=style.css.map */
.wr-right{
    float: right;
}
.chart-details .left .content h6 {
    font-size: 12px !important;
    color: #929292;
    font-weight: 400 !important;
}
/* Dashboard css ends here */
